services:

  php:
    build:
      context: ./docker/php
    restart: unless-stopped
    container_name: php
    ports:
      - '8080:80'
    volumes:
      - ./app:/var/www/html:cached
      #- my-volume:/var/www/html/my-volume:cached
    depends_on:
      - mariadb

  mariadb:
    image: mariadb:latest
    restart: unless-stopped
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: lamp
    volumes:
      - mariadb_data:/var/lib/mysql

  # https://hub.docker.com/_/phpmyadmin
  phpmyadmin:
    image: phpmyadmin
    restart: unless-stopped
    container_name: phpmyadmin
    ports:
      - 8088:80
    environment:
      PMA_HOST: mariadb
    depends_on:
      - mariadb

  # https://hub.docker.com/_/postgres
  postgres:
    image: postgres
    restart: unless-stopped
    container_name: postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: lamp

  adminer:
    image: adminer
    restart: unless-stopped
    container_name: adminer
    ports:
      - 8089:8080

volumes:
  mariadb_data:
  postgres_data:

  # https://collabnix.com/how-to-mount-external-volumes-in-docker/
  # my-volume:
  #  driver: local
  #  driver_opts:
  #    type: none
  #    device: /path/to/folder
  #    o: bind

networks:
  default:
    name: dsw-network